{% extends "layout/blog/default.twig" %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
<section class="row">
    {% for post in posts %}
    {{  include("blog/post/card.twig") }}
    {% endfor %}
</section>
{{ paginate | raw }}
{% endblock %}