{% extends "layout/default.twig" %}

{% block content %}

<form name="profil" action="">
    <input type="text" name="lastname" id="lastname">
    <input type="text" name="firstname" id="firstname">
    <input type="text" name="address" id="address">
    <input type="text" name="zipCode" id="zipCode">
    <input type="text" name="city" id="city">
    <input type="text" name="country" id="country">
    <input type="text" name="phone" id="phone">
    <input type="text" name="robot" id="robot">
    <input type="text" name="id_user" id="id_user">
    <button type="submit"></button>
</form>

{% endblock %}